.noteCard {
  background-color: cornsilk;
  margin: 4px;
}

.cardText {
  white-space: pre-line;
  color: #000;
}

.cardBody {
  overflow: hidden;
  mask-image: linear-gradient(180deg, #ffffff 60%, transparent);
}
