.blockCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.width100 {
  width: 100%;
}

.whiteText {
  color: #fff;
  text-align: center;
  margin-top: 10%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 24px;
}
